
.nutrient-card {
  margin-top: 10px;
}

.nutrient-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgba(170, 170, 170, 0.70);
    align-items: stretch;
    align-content: stretch;
    width: 80%;
    padding-left: 10%;
    padding-top: 5%;
}

.nutrient-card-title {
    color: #EB784E;
}

.nutrient-card-name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

#nutrient-card-ul {
    width: 80%;
}

/* Style for the bullet points */
.nutrient-card-ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0;
}

.nutrient-card-ul li {
  position: relative;
  padding-left: 20px;
}

.nutrient-card-ul li::before {
  content: "•"; /* Add bullet character */
  position: absolute;
  left: 0;
  color: #C5C884;
}

/* color: #C5C884;
color: #EB784E; */
