.mymeals-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 16px;
}

.mymeals-page{
    background-color: #EAF2F2;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 29px;
  
}

@media screen and (min-width:768px) {
    .mymeals-content{
        display: flex;
        justify-content: center;
    }
    .mymeals-top{
        padding-top:40px;
    }
  }