.mymeals-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 16px;
}

.mymeals-page {
  background-color: #eaf2f2;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 29px;
}

.mymeal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mymeals-content {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .mymeals-content {
    width: 50%;
    padding-top: 50px;
    gap: 10px;
  }
  .mymeals-top {
    padding-top: 40px;
  }
}
