.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.course-page {
    background-color: #EAF2F2;
    padding-bottom:6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 29px;
}


.courses-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container{
    display: flex;
    justify-content: flex-start;
}



a {
    text-decoration:none;
    color: black;
    }


    @media screen and (min-width:765px) {
        .top {
            margin-right: 30px;
            margin-left: 30px;
        }
        
        .navbar-container{
            display: none;
        }
    
        .title-container{
            margin: 0 auto;
        }

    
      }

  
    
  
  
  
  
  
  
  
    
  
  
  
  
  
  

