.background-green{
    stroke: #c5c884;
    stroke-width: 50%;
    overflow: hidden;
    width: 100%;
    mix-blend-mode: multiply;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  
  }
  