
.disabled-text-input-box {
    display: flex;
    width: 343px;
    height: 30%;
    flex-shrink: 0;
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.text-disabled-text-input-box {
    padding-left: 2%;
    width: 340px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
}

.text-input-class{
    width: 320px;
    height: 46px;
    border-radius: 10px;
    padding-left: 14px;
}

@media screen and (min-width: 1024px) {
    .text-input-class{
        width: 420px;
        height: 58px;
     
    }
    
  }