
.disabled-text-input-box {
    display: flex;
    width: 343px;
    height: 30%;
    flex-shrink: 0;
    border-radius: 10px;
    padding-top: 1.3033175355450237%;
    padding-bottom: 1.3033175355450237%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.text-disabled-text-input-box {
    padding-left: 2%;
    width: 340px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
}