.favourite-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading{
    margin-left:1rem;
    font-size: 1rem;
}


@media screen and (min-width: 768px){
.title-courses {
    margin: 0 auto;
}
}