.favourite-page{
    background-color: #EAF2F2;
    padding-top: 29px;
}

.favourite-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 16px;
  
}

.loading{
    margin-left:1rem;
    font-size: 1rem;
}

.favourites-page-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.favourites-page-container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}



@media screen and (min-width:765px) {
    
    .favourites-page-container-cards{
        width: 50%;
        padding-top: 50px;
        gap: 10px;
    }
 
    .title-courses{
        margin:0 auto;
    }

    .loading{
        display: flex;
        justify-content: center; 
    }
    
    .favourite-top{
        padding:14px;
        
    }

  }