.register-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.register-container {
  margin-bottom: 12px;
}

.register-label {
  margin-bottom: 12px;
}

.register-title{
  margin-bottom: 12px;
}

.register-button{
  margin-top: 32px;
  margin-bottom: 100px;
}

@media screen and (min-width: 1024px) {
  .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
  }
  .register-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
  }
}
