.infoCard{
    display: flex;
    flex-direction: column;
}

.card-lesson-card{
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    margin-bottom: 17px;
    border-radius: 10px;
}

.card-lesson-title{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-left: 0.4rem;
}

.card-lesson-image{
    width: 30%;
    height: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover
}

.card-recipe-image{
    width: 30%;
    height: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover
}

.card-header-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    font-size: 12px;
    padding-left:24px; 
    padding-right: 24px;
    margin-bottom: 19px;
    font-weight: 500;
    color: rgba(170, 170, 170, 0.70);
    align-items: center;

}


.vector{
width: 15px;
height: 11px;
}

.clock-and-duration-info{
    display: flex;
}

.vector-and-type{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.line{
    width: 88%;
    margin: 0 auto;
    padding-top: 0.9rem;

}

.card-description{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AAA;
    font-size: 14px;
    text-align: left;
    padding: 0 25px 0 25px;
    font-weight: 500;
}


@media screen and (min-width:768px) {
    .card-lesson-title{
        font-size: 28px;
    }

    /* .card-lesson-image{
            width: 30%;
            height: 50%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            object-fit: cover
        
    }     */
    .infoCard{
        margin: 0 auto;
        width: 100%;

    }

    .card-description{
        padding: 0;
    }


  }