
.recipe-page-profile-pic-return-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 10px;
}

.arrow-return-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.img-arrow-button {
    margin-right: 1rem;
    margin-top: 1.1rem;
}

.nutrition-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

#recipe-page-card {
    margin-bottom: 0;
}

.recipe-page-button {
    padding-bottom: 100px;
}

.btn-recipe{
    display: inline-block;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 240px;
    height: 59px;
    border-radius:30px;
    color: white;
    background-color: #EB784E;
    font-size: large;
    margin-top: 1rem;
}

.center-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 110px;
}
.card-lesson-detail {
    padding-bottom: 2%;
    background-color: white;
    margin-top: 13px;
    margin-bottom: 7rem;
    border-radius: 10px;
    width: 90%;
}


@media screen and (min-width: 768px) {
    .recipe-page-button {
        padding-bottom: 50px;
    }

    .card-lesson-detail {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recipe-page-profile-pic-return-button-container {
        padding-top: 20px;
        padding-left: 1rem;
    }
  }
