
.meal-card-img {
    width:75px;
    height:75px;
    border-radius: 10px;
}

.left-and-right-container {
    display: flex;
    border-radius: 21px;
    padding: 12px;
    border: none;
    background-color: white;
    gap: 10.5px;
    margin-top: 1rem;
    margin-right: 1.1rem;
    margin-left: 1.1rem;
}

.left-container {
    width: 75px;
}

.meal-name {
    margin-top: 0.3rem;
    font-size: 14px;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clock-and-time {
    display: flex;
    font-size: 12px;
    margin-top: 0.5rem;
    gap: 2px;
}