.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.profile-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 46px;
}
.profile-button {
  margin-top: 24px;
}

.disabled-box-container {
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .profile-page-user-picture {
    padding-top: 5rem;
  }
}
