
.profile-page-return-button {
    display: flex;
    position: relative;
    padding-left: 5.128205128205128%;
    padding-top: 5.128205128205128%;

}


.profile-title {
    display: flex;
    width: 9.25rem;
    height: 2.5rem;
    padding-right: 0px;
    align-items: center;
    flex-shrink: 0;
    padding-left: 5.907692307692307%;
    padding-top: 12.43601895734597%;
    padding-bottom: 12.43601895734597%;
}

#light-title {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    color: #4A4A4A;
    line-height: 140%; /* 3.15rem */
    letter-spacing: 0.045rem;
}

.profile-page-user-picture {
    transform: scale(2);
    right: 18%;
    top: 10%;
    position: absolute;
}


.profile-input-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 200%;
    padding-bottom: 5%;
    padding-top: 5%;
}


.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21.4375rem;
    height: 3.25rem;
    flex-shrink: 0;
    width: 100%;
    top: 50%;
    padding-top: 1.8957345971563981%;
    padding-bottom: 1.8957345971563981%;
}

#profile-edit-button {
    padding-bottom: 5%;
}

@media screen and (min-width: 767px) {
    .profile-input-box {
        flex-direction: column;
        padding-bottom: 1%;
        padding-top: 1%;
    }
    .profile-page-return-button {
        padding-top: 8%;
    }
    .profile-page-user-picture {
        transform: scale(3);
    }
    .profile-title {
        display: flex;
        width: 9.25rem;
        height: 2.5rem;
        padding-right: 0px;
        align-items: center;
        flex-shrink: 0;
        padding-left: 20%;
        padding-top: 8%;
    }
    .profile-button {
        padding-top: 0;
        padding-bottom: 5%;
    }
}