.forgot-password-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#forgot-description {
  text-align: center;
  margin-bottom: 46px;
}

.forgot-container {
  margin-top: 12px;
  margin-bottom: 32px;
}

.forgot-button {
  margin-bottom: 64px;
  margin-top: 42px;
}

.forgot-password-title{
  margin-bottom: 24px;
  margin-top: 140px;
}

.forgot-password-header{
  margin-top: 12px;
  margin-left: 12px;
}

@media screen and (min-width: 1024px) {
  #forgot-description {
    text-align: center;
    margin-bottom: 64px;
  }
  
  .forgot-container {
    margin-bottom: 24px;
    margin-top: 32px;
  }
  
  .forgot-button {
    margin-bottom: 64px;
    margin-top: 32px;
  }
  
  .forgot-password-title{
    margin-bottom: 46px;
  }
}
