.forgot-password-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.forgot-title {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 110px;
  margin-left: 15px;
}

#forgot-description {
  margin-top: 37px;
  margin-bottom: 38px;
  text-align: center;
}

.forgot-button {
    margin-top: 70px;
}