.forgot-password-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.forgot-title {
  padding: 12px;
}

#forgot-description {
  text-align: center;
  margin: 24px;
}

@media screen and (min-width: 1024px) {
  .forgot-password-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .forgot-password-content{
    height: 100vh;
    padding: 32px;
  }
  #forgot-description{
    margin: 24px;
  }
}