
.meals-page{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 30px;
}

.meals-page-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}


.meals-page-profile-pic-star-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 20px;
    width: 90%;
}

.meals-page-title {
    word-break: keep-all;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.meals-page-title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 50px;
}

.meals-page-cards {
    position: relative;
    padding-bottom: 120px;
    width: 100%;
}

.meals-page-subtitle {
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (min-width: 768px) {
    .meals-page-title {
        margin-top: 6%;
        margin-left: 0;

    }
    .meals-page-cards {
        padding-bottom: 50px;
    }

    .meals-page-profile-pic-star-button {
        padding-top: 40px;

    }
  }