.journey-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
}

.journey-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.journey-image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  mix-blend-mode: multiply;
  flex-grow: 1;
  
}

#image-journey-one {
  align-items: flex-end;
}

#image-journey-two img {
  height: 100%;
}

#image-journey-three {
    margin-top: 147px;
  }
  #image-journey-four {
    margin-top: 170px;
  }

.journey-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.journey-description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 24px;
}

.bg-green {
  stroke: #c5c884;
  stroke-width: 5%;
}

#journey-page-one {
  margin-top: 60px;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 32px;
}
#journey-page-two {
  margin-bottom: 12px;
}
#journey-page-three {
  margin-top: 89px;
  margin-bottom: 88px;
}
#journey-page-four {
  margin-top: 95px;
  margin-bottom: 25px;
}

#light-title {
  font-weight: 400;
}
#bold-title {
  font-weight: 900;
}
.button-container {
  margin-bottom: 16px;
}
#journey-login {
  margin-top: 25px;
}

@media screen and (min-width: 1024px) {
  .journey-button{
    padding: 24px;
  }
  
  #image-journey-three {
      margin-top: 64px;
    }
    #image-journey-four {
      margin-top: 64px;
    }
}
