.exercise-details{
    margin-top: 39px;
}

.exercise-detail-page{
    border-radius: 10px;
    margin: 14px 23px 44px 27px;
    margin-bottom: 100px;
    padding-bottom: 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 39px;
}
.exercise-detail-title{
    margin-top: 31px;
    font-size: 22px;
    font-weight: 700;
}
.image-exercise-detail{
    width: 100%;
    margin-top:28px;
    height: 260px;
}
.sets{
    font-weight:400;
    font-size: 16px;
    margin-bottom: 35px;
    color: #AAAAAA;
}

.timer{
   font-weight:700;
 font-size:40px;
}

.start-stop-next-previous{
    margin-top: 35px;

}

@media screen and (min-width:768px) {

 

    .exercise-detail-page {
        width: 80%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 7rem;
      
      }

  }

