.lessons-page{
    background-color: #EAF2F2;
    padding: 1.5rem;
}

.lessons-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lessons-title{
    margin-top: 1rem;
    font-size: 20px;

}

.title-and-star{
    display: flex;
    justify-content: space-between;
 
}

.clock-and-time{
    display: flex;
 
}

.time-min{
    font-size: 12px;
}

.title-card{
    display: flex;
}

.title-container-lessons{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}



@media screen and (min-width:765px) {
    
 

    .title-container-lessons{
        margin: 0 auto;
        width: 50%;
        margin-top: 18px;
    }

    .navbar-desktop{
        margin-bottom: 70px;
    }

    

    .container-image,.img-arrow{
        display: none;
    }

  }