.lessons-page{
    background-color: #EAF2F2;
    padding-top: 29px;
}

.lessons-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 16px;
}

.lessons-title{
    margin-top: 1rem;
    font-size: 20px;

}

.title-and-star{
    display: flex;
    justify-content: space-between;
 
}

.clock-and-time{
    display: flex;
 
}

.time-min{
    font-size: 12px;
}

.title-card{
    display: flex;
}

.title-container-lessons{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.lessons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.lessons-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

@media screen and (min-width:765px) {

    .lessons-list-container {
        width: 50%;
        padding-top: 50px;
        gap: 10px;
    }
 
    .title-container-lessons{
        margin: 0 auto;
        width: 50%;
        margin-top: 18px;
    }

    .navbar-desktop{
        margin-bottom: 70px;
    }

  }