.edit-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
  .edit-profile-page {
    padding-top: 50px;
  }
  .cancel-changes-button {
    padding-bottom: 3%;
  }
  .edit-profile-title {
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
  }
  .edit-profile-form-container {
    margin-bottom: 36px;
  }
  .edit-profile-form-label {
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .edit-profile-image-input {
    padding-left: 230px;
  }
}
