* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.yoga-pose {
    width:75px;
    height:75px;
    border-radius: 10px;
  
}

.course-container {
 width: 100%;
 
  }

  .left-and-right-container{
    display: flex;
    border-radius: 21px;
    padding: 12px;
    border: none;
    background-color: white;
    gap: 10.5px;
    margin-top: 1rem;
   
  }

.left-container{
  display: flex;
  align-items: center;
}

.img-container {
    width: 120px;
}

.course-name {
    margin-top: 0.7rem;
    font-size: 14px;
}

.number-of-lessons{
    margin-top: 0.5rem;
    font-size: 12px;
}

.bottom-container{
    margin-top: 0.5rem;
    font-weight: normal;
    display: flex;
    font-size: 10px;
    gap: 5px;
    align-items: center;
    
   
}

.right-container{
    display: flex;
    flex-direction: column;
}

.dot-image {
    width: 5px;
    height: 5px;
}



